<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Reps Calendar</title>
    <style>
        #calendarTable, #calendarTable td, #calendarTable th {
            border: 1px solid black;
            height: 70px;
            vertical-align: top;
            text-align: left;
        }

        #calendarTable {
            border-collapse: collapse;
            width: 70%;
        }

        #calendarTable td, #calendarTable th {
            width: calc(100% / 7);
        }

        #calendarTable th {
            background-color: lightblue;
            text-align: center;
        }

        .current-date {
            background-color: #7277f5;
        }

        .day-number {
            text-align: right;
        }

        .reps-info {
            text-align: left;
        }

        .past-date {
            background-color: lightgrey;
        }

        .completed-daily {
            background-color: palegreen;
        }
        .completed-daily-failed {
            background-color: #ffb0c9;
        }
    </style>
</head>
<body>
<h1>Exercise Calendar for You.</h1>

<h3> Month: <%= new Date(year, month - 1).toLocaleString('default', {month: 'long'}) %> <%= year %> </h3>
<table id="calendarTable">
    <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
    </tr>
    <%
    // Show our layout for done and planned exercises now.
    function renderReps(reps, repsPlanned) {
        let html = '';
        if (reps && reps.length > 0) {
            html = `
                <ul>
                  ${reps.map(rep => `<li>${rep.quantity} ${rep.exerciseName}</li>`).join('')}
                </ul>`;
        }

        if (!repsPlanned || repsPlanned.length === 0) return html;
        html += `<p>
            Planned:
            <span style="color: rgb(76,11,11);"> <br>
                ${repsPlanned.map(rep => `${rep.quantity} ${rep.exerciseName} <br>`).join(' ')}
            </span>
            </p>`;

        return html;
    }

    cnt = 0;
    const today = new Date();
    const currentMonth = today.getMonth() + 1;
    const currentYear = today.getFullYear();

    days.forEach(date => {
        day = date.day;
        const isTodayClass = day === today.getDate() && month === currentMonth && year === currentYear ? 'current-date' : '';
        const isPastClass = new Date(year, month - 1, day + 1) < today ? 'past-date' : '';
        let isCompletedDailyClass = '';
        // Color all past days as green or red if completed or failed.
        if (isPastClass !== '') {
            isCompletedDailyClass = date.completedDaily === true ? 'completed-daily' : (date.completedDaily === false ? 'completed-daily-failed' : '');
        }
    %>
    <td class="<%= isCompletedDailyClass %> <%= isPastClass %> <%= isTodayClass %> ">
        <div class="day-number"><%= day || '' %></div>
        <div class="reps-info"><%- renderReps(date.reps, date.repsPlanned) %></div>
    </td>
    <% cnt++;
    if (cnt % 7 === 0) { %>
        </tr>
    <tr>
        <% }
        }) %>
</table>


<form action="/exerciseReps3" method="post">
    <label for="userName">User Name: James </label>
    <input type="hidden" id="userName" name="userName" value="james" required><br><br>
    What exercise did you do? <input type="text" id="exerciseText" name="exerciseText" required><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>